# TODO: import the required dependencies
{default_import}

# Write code here. The code should never include any data plotting or creation of graphs of any type. DO NOT PLOT THE DATA IN ANY CASE.

# Declare result var: {output_type_hint}